<launch>
  <arg name="device_id" default="#1" />
  <arg name="host" default="127.0.0.1" />
  <arg name="port" default="18765" />
  <arg name="rgb_resolution" default="640x480" />
  <arg name="depth_resolution" default="640x480" />

  <include file="$(find percipio_launch)/launch/percipio.launch">
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="rgb_resolution" value="$(arg rgb_resolution)" />
    <arg name="depth_resolution" value="$(arg depth_resolution)" />
    <arg name="depth_registration" value="true" />
    <arg name="rgb_format" value="bgr" />
    <arg name="depth_format" value="depth16" />
    <arg name="frame_rate_control" value="true" />
    <arg name="frame_rate" value="5.0" />
  </include>

  <node pkg="percipio_object_bridge" type="rgbd_tcp_bridge.py"
        name="percipio_rgbd_tcp_bridge" output="screen">
    <param name="host" value="$(arg host)" />
    <param name="port" value="$(arg port)" />
    <param name="sync_slop_s" value="0.05" />
  </node>
</launch>
